### GENERAL/IMPORTANT THINGS
DEFAULT_LANG=en
PREFIXES=a!,@mention
DEFAULT_PREFIX=a!
STATUS=a!help | v{version}
OWNER=OWNER
TOKEN=TOKEN

### API KEYS
OMDBAPI_KEY=OMDBAPI_KEY
PATREON_KEY=PATREON_KEY
DBL_KEY=DBL_KEY
GOOGLE_CX=GOOGLE_CX
GOOGLE_KEY=GOOGLE_CX
YOUTUBE_KEY=YOUTUBE_KEY
CROWDIN_KEY=CROWDIN_KEY
CROWDIN_PROJECT=CROWDIN_PROJECT

### SAFE TO LEAVE ALONE (if using docker-compose) from here on
REDIS_PORT=6379
REDIS_HOST=127.0.0.1
REDIS_PASS=

LAVALINK_NODES=[{"host":"127.0.0.1","port":80,"region":"us","password":"youshallnotpass"}]
MONGO_URI=mongodb://127.0.0.1:27017/antares

SENTRY_DSN=
NODE_ENV=production
