# Logs
logs
*.log
*error*.log*
*debug*.log

# database files that docker-compose creates
db

# Dependency directories
node_modules/

# environment variables files
.env

# vscode configs
.vscode

# k8s
bot.yaml
deploy.sh

scripts
